<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid" style="background-color: rgb(28, 31, 31);">
        <a class="navbar-brand fs-4" href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Y022SdU_AtRqZBoALjWikMXGP0Czj5eaGA&usqp=CAU"
                alt="Logo" width="60" height="48" class="d-inline-block">
            <!-- <font class="fs-4 fst-italic fw-bolder" style="color: white;">DATALOADER</font> -->
            <font color="#FF2626">D</font>
            <font color="#FF9966">A</font>
            <font color="#00C1D4">T</font>
            <font color="#FFD523">A</font>
            <font color="#71EFA3">L</font>
            <font color="#FF2626">O</font>
            <font color="#FF9966">A</font>
            <font color="#00C1D4">D</font>
            <font color="#FFD523">E</font>
            <font color="#71EFA3">R</font>
            <font color="#FF2626">P</font>
            <font color="#FF9966">O</font>
            <font color="#00C1D4">R</font>
            <font color="#FFD523">T</font>
            <font color="#71EFA3">A</font>
            <font color="#FF2626">L</font>
        </a>
        <div class="d-flex">
            <a class="navbar-brand fs-6" routerLink="">Home</a>
            <a class="navbar-brand fs-6" routerLink="login">login</a>
            <a class="navbar-brand fs-6" routerLink="sign-up">Signup</a>

        </div>
    </div>
</nav>