<div class="col-md-12">

    <div class="card container">
        <div class="form-group">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>DOB</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>Status</th>
                    <th>DrugId</th>
                    <th>DrugName</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patients; index as i">
                    <td scope="row">{{i+1}}</td>
                    <td>{{patient.name}}</td>
                    <td>{{patient.address}}</td>
                    <td>{{patient.dob}}</td>
                    <td>{{patient.email}}</td>
                    <td>{{patient.number}}</td>
                    <td>{{patient.status}}</td>
                    <td>{{patient.drugId}}</td>
                    <td>{{patient.drugName}}</td>
                    <td>
                        <button class="btn btn-primary btn-md" routerLink="edit">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-md" [routerLink]="['/editstatus',patient.id]">StatusUpdate</button>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-md" [routerLink]="['/remove',patient.id]">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>